.navbar {
  margin-top: 98px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #c1121f;
  position: fixed;
  width: 100%;
 font-weight: 600;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #fdf0d5;
  text-align: center;
  padding: 14.5px 0px;
  text-decoration: none;
  width: 50%;
}

.sortby {
  float: left;
  font-size: 16px;
  color: #fdf0d5;
  text-align: center;
  padding: 14.5px 16px;
  text-decoration: none;
  width: 100%;
}

.dropdown {
  float: left;
  overflow: hidden;
  width: 50%;
}

.dropdown .dropbtn {
  font-size: 16px;
  font-weight: inherit;
  border: none;
  outline: none;
  outline: none;
  color: #fdf0d5;
  padding: 14.5px 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 100%;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #457b9d;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #ef233c;
  min-width: 160px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-content a {
  float: none;
  color: #fdf0d5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #669bbc;
  width: 50%;
}

.dropdown:focus-within .dropdown-content {
  display: block;
}

.sortby select {
  background-color: #003049;
  color: #fdf0d5;
}
